@import 'settings/variables';

/// Module export mixin
/// This mixin helps creating our caption texts making sure a module is imported once and only once.
/// @access public
/// @param {String} $color - color the font should take
@mixin body-1($color: $primary-100) {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}
