@import 'settings/variables';

/// Module export mixin
/// This mixin helps creating our caption texts making sure a module is imported once and only once.
/// @access public
/// @param {String} $color - color the font should take
@mixin headline-4($color: $primary-100) {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: $color;
}
