@import 'settings/variables';
@import 'tools/mixins/import_once';

@include import_once('objects/container') {
  .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: $breakpoint-extra-large;
    padding: 8px 4px;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-tiny) {
      padding: 8px;
    }

    @media screen and (min-width: $breakpoint-small) {
      padding: 16px 8px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      padding: 16px;
    }

    @media screen and (min-width: $breakpoint-large) {
      padding: 32px 16px;
    }

    @media screen and (min-width: $breakpoint-extra-large) {
      padding: 32px;
    }
  }
}
