$primary-100: #051727;
$primary-70: rgba($primary-100, 0.7);
$primary-35: rgba($primary-100, 0.35);
$primary-15: rgba($primary-100, 0.15);
$accent: #7f58e5;
$accent-70: rgba($accent-100, 0.7);
$accent-35: rgba($accent-100, 0.35);
$accent-15: rgba($accent-100, 0.15);
$transparent: rgba(255, 255, 255, 0.001);
$white: #fff;
